* {
    padding: 0;
    margin: 0;
}

p {
    border: 1px solid black;
}

.selected-paragraph {
    background-color: beige;
    /* position: relative;
    left: 15px;
    top: 20px; */

    /* position: fixed;
    top: 0;
    left: 0; */

    /* position: sticky;
    top: 20px; */

    position: absolute;
    top: 0;
    left: 0;
}

div {
    position: relative;
}