* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    background: #111111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10vw;
    padding-bottom: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header span {
    width: 15px;
    height: 15px;
    background-color: #e01e3f;
}

header a,
footer a {
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

article {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

article > h1 {
    font-size: 56px;
    font-family: "Times New Roman", Times, serif;
}

article img {
    width: 100%;
}

article h3 {
    font-size: 26px;
}

article p {
    color: darkgrey;
    line-height: 28px;
}

.links {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 0;
    border-top: 1px solid rgb(36, 36, 36);
    border-bottom: 1px solid rgb(36, 36, 36);
}

.links li {
    padding: 5px 0;
    cursor: pointer;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icons h1 {
    font-size: 32px;
}

.icons h1 span {
    color: #e01e3f;
}

.icons div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icons div ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.icons div ul li {
    cursor: pointer;
}

footer {
    background: #e01e3f;
    background: linear-gradient(
        90deg,
        rgba(224, 30, 63, 1) 0%,
        rgba(17, 17, 17, 1) 19%,
        rgba(140, 27, 46, 1) 100%
    );
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 15px 10vw;
}
