table {
    text-align: center;
    padding: 3px;
    margin: 0;
    border-collapse: collapse;
    border: 3px solid black;
}

td {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.bold-right {
    border-right: 3px solid black;
}

.bold-bottom {
    border-bottom: 3px solid black;
}