* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

table {
    border-collapse: collapse;
}

td {
    border: 2px solid;
    width: 70px;
    height: 70px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
