:root {
    --padding: 15vw;
    --mainColor: #ffc107;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    width: 100vw;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div:first-child {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
}

header div:first-child video {
    width: 100%;
    filter: brightness(60%);
}

header div:first-child h1,
header div:first-child p {
    position: absolute;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

header div:first-child h1 {
    font-size: 84px;
    top: 45%;
}

header div:first-child p {
    font-size: 24px;
    top: 55%;
}

header div:first-child p span {
    font-weight: bold;
    text-decoration: underline;
}

header div:last-child {
    width: 100%;
    padding: 20px var(--padding);
    display: flex;
    align-items: center;
    gap: 15vw;
    box-shadow: 0 0 65px #555;
}

header div:last-child h2 {
    color: var(--mainColor);
}

header div:last-child nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

header div:last-child nav ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

header div:last-child nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #666;
    transition: 0.2s;
}

header div:last-child nav ul li.active a,
header div:last-child nav ul li:hover a {
    color: #000;
}

header div:last-child nav ul li span {
    width: 20px;
    height: 20%;
    border-radius: 50%;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transform: translateY(15px);
}

header div:last-child nav ul li.active span {
    opacity: 1;
    transform: translateY(0px);
}

header div:last-child nav ul li:hover span {
    animation-name: moveUp;
    animation-timing-function: ease;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* ================================================ first section ================================================ */

#first-child {
    width: 100%;
    height: 70vh;
    padding: 10px var(--padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

#first-child div:first-child {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 110px 70px;
    grid-template-areas:
        "title"
        "firstParagraph"
        "secondParagraph";
    gap: 20px;
}

#first-child div:last-child {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 110px 70px;
    grid-template-areas:
        "."
        "firstParagraph"
        ".";
    gap: 20px;
}

#first-child div h2 {
    grid-area: title;
    font-size: 46px;
    color: #000;
}

#first-child div:first-child p:nth-child(2) {
    grid-area: firstParagraph;
}

#first-child div:first-child p:nth-child(3) {
    grid-area: secondParagraph;
}

#first-child div:last-child p {
    grid-area: firstParagraph;
}

#first-child div p {
    font-size: 19px;
    line-height: 30px;
    color: #666;
    text-align: justify;
}
#first-child div p span {
    transition: 0.3s;
    cursor: pointer;
}

#first-child div p span:hover {
    color: var(--mainColor);
}

/* ================================================ second section ================================================ */

#second-child {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
}

#second-child div:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

#second-child div img {
    width: 100%;
    height: 100%;
}

.blackbox {
    background-color: #212529;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    color: #fff;
}

.blackbox h2 {
    font-size: 42px;
}

.blackbox p {
    font-size: 19px;
}

.blackbox a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

#second-child div:last-child {
    position: relative;
}

#second-child div:last-child aside {
    position: absolute;
}

#second-child div:last-child aside:nth-child(2) {
    background-color: #198754;
    width: 65%;
    height: 20%;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 25px;
    color: #fff;
}

#second-child div:last-child aside:nth-child(2) h3 {
    font-size: 32px;
}

#second-child div:last-child aside:nth-child(3) {
    bottom: 10%;
    transform: translateY(50%);
    right: 5%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#second-child div:last-child aside:nth-child(3) button {
    padding: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
}

#second-child div:last-child aside:nth-child(3) button i {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.5);
}

/* ================================================ third section ================================================ */

#third-child {
    display: 100%;
    padding: 100px var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#third-child h1 {
    font-size: 46px;
}

#third-child > div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "first second"
        "third second"
        "third forth";
    column-gap: 20px;
    row-gap: 40px;
}

#third-child div aside {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#third-child div aside div {
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
}

#third-child div aside img {
    transition: 0.9s;
    width: 100%;
    /* height: 100%; */
}

#third-child div aside img:hover {
    transform: scale(1.05);
}

#third-child div aside h3 {
    font-size: 38px;
}

#third-child div aside p {
    font-size: 22px;
}

#third-child div aside:nth-child(1) {
    grid-area: first;
}

#third-child div aside:nth-child(1) p {
    color: #e25664;
}

#third-child div aside:nth-child(2) {
    grid-area: second;
}

#third-child div aside:nth-child(2) p {
    color: var(--mainColor);
}

#third-child div aside:nth-child(3) {
    grid-area: third;
}

#third-child div aside:nth-child(3) p {
    color: #4da27b;
}

#third-child div aside:nth-child(4) {
    grid-area: forth;
}

#third-child div aside:nth-child(4) p {
    color: #2ad0f2;
}

/* ================================================ forth section ================================================ */

#forth-child {
    background-color: #f9f9f9;
    width: 100%;
    padding: 100px var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#forth-child > div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 100px;
    grid-template-areas:
        "first4 second4"
        "first4 third4"
        "first4 .";
    gap: 40px;
}

#forth-child > div aside {
    position: relative;
}

#forth-child > div aside h3 {
    font-size: 26px;
    width: 75%;
    color: #555;
}

#forth-child > div aside p {
    color: #666;
    font-size: 17px;
}

#forth-child > div aside:nth-child(1) {
    grid-area: first4;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#forth-child > div aside:nth-child(1) div {
    height: 440px;
}

#forth-child > div aside:nth-child(1) span {
    background-color: var(--mainColor);
}

#forth-child > div aside:nth-child(2) {
    grid-area: second4;
}

#forth-child > div aside:nth-child(2) span {
    background-color: #0d6efd;
}

#forth-child > div aside:nth-child(3) {
    grid-area: third4;
}

#forth-child > div aside:nth-child(3) span {
    background-color: #198754;
}

#forth-child > div aside:nth-child(2),
#forth-child > div aside:nth-child(3) {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas:
        "first41 second41"
        "first41 third41";
    gap: 25px;
}

#forth-child > div aside div {
    grid-area: first41;
    overflow: hidden;
}

#forth-child > div aside div img {
    transition: 0.9s;
}

#forth-child > div aside div img:hover {
    transform: scale(1.05);
}

#forth-child > div aside h3 {
    grid-area: second41;
}

#forth-child > div aside p {
    grid-area: third41;
}

#forth-child > div aside img {
    width: 100%;
    height: 100%;
}

#forth-child > div aside span {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================================================ fifth section ================================================ */

#fifth-child {
    width: 100%;
    padding: 100px var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#fifth-child form {
    padding: 10px var(--padding);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2.5fr 1fr 1fr;
    grid-template-areas:
        "first5 second5"
        "third5 third5"
        "forth5 forth5"
        "fifth5 fifth5";
    gap: 20px;
}

#fifth-child form aside:nth-child(1) {
    grid-area: first5;
}

#fifth-child form aside:nth-child(2) {
    grid-area: second5;
}

#fifth-child form aside:nth-child(3) {
    grid-area: third5;
}

#fifth-child form aside:nth-child(4) {
    grid-area: forth5;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "first51 . ."
        "second51 third51 forth51";
}

#fifth-child form aside:nth-child(4) label {
    grid-area: first51;
}

#fifth-child form aside:nth-child(4) div:nth-child(2) {
    grid-area: second51;
}

#fifth-child form aside:nth-child(4) div:nth-child(3) {
    grid-area: third51;
}

#fifth-child form aside:nth-child(4) div:nth-child(4) {
    grid-area: forth51;
}

#fifth-child form aside:nth-child(5) {
    grid-area: fifth5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fifth-child form aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#fifth-child form aside.input input,
#fifth-child form aside textarea {
    padding: 15px;
    border-radius: 0px;
    border: 1px solid #ddd;
    outline: none;
    height: 100%;
    width: 100%;
}

#fifth-child form aside textarea {
    resize: none;
}

#fifth-child form aside input[type="submit"] {
    width: 300px;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    border-radius: 35px;
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
    transition: .9s;
    cursor: pointer;
}

#fifth-child form aside input[type="submit"]:hover {
    background-color: var(--mainColor);
}
