* {
    padding: 0;
    margin: 0;
}

div {
    box-sizing: border-box;
    /* margin: 100px; */
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid #111;
    border-radius: 15px;
    display: block;
    /* transform: translate(100px, 50px); */
    /* transform: rotate(35deg); */
    /* transform: scale(0.8); */
    /* transform: skew(30deg); */
    /* transition: background-color 1s, width 2s linear; */
    /* transition: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 2s; */
    /* transition: transform 2s; */
    /* animation-name: move-right;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards; */
}

/* div:hover { */
/* transform: scale(1.1); */
/* background-color: green;
    width: 150px; */
/* transform: rotate(360deg); */
/* } */

/* @keyframes move-right {
    0% {
        position: absolute;
        left: 0%;
    }
    100% {
        position: absolute;
        left: calc(100% - 100px);
    }
} */

header {
    width: calc(100% - 200px);
    background-color: gray;
    padding: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

header nav ul li {
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
}

header nav ul li:nth-child(1) {
    animation: move-left 1s ease 0s 1 normal forwards;
}

header nav ul li:nth-child(2) {
    animation: move-left 1s ease 1s 1 normal forwards;
}

header nav ul li:nth-child(3) {
    animation: move-left 1s ease 2s 1 normal forwards;
}

header p {
    animation: move-down 1s ease 0s 1 normal forwards;
}

header h1 {
    animation: move-right 1s ease 0s 1 normal forwards;
}

header aside i {
    font-weight: bold;
    font-size: 32px;
}

header aside {
    display: none;
}

@keyframes move-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes move-right {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes move-left {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1200px) and (min-width: 720px) {
}

@media (max-width: 720px) and (min-width: 360px) {
    /* header {
        flex-direction: column;
        gap: 20px;
    } */

    header {
        padding: 30px 40px;
        width: calc(100% - 80px);
    }

    /* header p {
        display: none;
    } */

    header nav {
        display: none;
    }

    header aside {
        display: block;
    }
}

@media (max-width: 360px) {
    /* header {
        flex-direction: column;
        gap: 20px;
    } */

    header {
        padding: 30px 20px;
        width: calc(100% - 40px);
    }

    header p {
        display: none;
    }

    header nav {
        display: none;
    }

    header aside {
        display: block;
    }
}
