@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --bgcolor: #1f242d;
    --secbgcolor: #323946;
    --textcolor: #eee;
    --maincolor: #0ef;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bgcolor);
    color: var(--textcolor);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

header h1 {
    font-size: 28px;
}

#job {
    font-size: 18px;
    font-weight: bold;
}

.summary-content {
    font-size: 16px;
    line-height: 20px;
}

section,
footer {
    padding: 2px 10px;
}

ul {
    margin: 0;
    list-style-position: inside;
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: var(--textcolor);
    margin-left: 1rem;
    transition: .3s;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--maincolor);
}

h3 {
    color: var(--maincolor);
    border-bottom: 2px solid var(--maincolor);
    padding-bottom: 2px;
}

header,
footer {
    text-align: center;
    background: var(--bgcolor);
}

header {
    padding-top: 2px;
    padding-bottom: 2px;
}