@font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
    direction: ltr;
    background: #fff;
    font-family: "Vazirmatn", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: "Vazirmatn", sans-serif;
}
