article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    width: 100px;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
}

img {
    width: 500px;
    height: 400px;
}
