* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

body form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

body form input {
    padding: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;

}

body form input:not(input[type="submit"]) {
    border-bottom: 2px solid;
    
}
