/* .container {
    height: 200px;
    width: 200px;
    background-color: green;
    position: absolute;
}

.box {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: red;
} */

input[type='submit'] {
    border: 3px solid green;
}