* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* overflow-x: hidden; */
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
    cursor: pointer;
    color: #555;
}

header nav ul li:hover {
    text-decoration: underline;
}

header div {
    display: none;
}

header div i {
    font-size: 32px;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "image image aside"
        "title section aside"
        "first second third";
    gap: 20px;
}

article > img {
    grid-area: image;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

article aside {
    grid-area: aside;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
}

article aside h1 {
    color: orange;
    font-size: 26px;
}

article aside .title {
    font-size: 18px;
}

article aside .content {
    font-size: 14px;
    color: #999;
    padding-bottom: 15px;
}

article aside p:nth-child(3),
article aside p:nth-child(5) {
    border-bottom: 1px solid #999;
}

article h1 {
    grid-area: title;
    font-size: 52px;
}

article section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

article section p {
    font-size: 14px;
    line-height: 30px;
    color: #999;
}

article section button {
    background-color: orangered;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50%;
}

article div:nth-child(5) {
    grid-area: first;
}

article div:nth-child(6) {
    grid-area: second;
}

article div:nth-child(7) {
    grid-area: third;
}

article div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;

    grid-template-areas:
        "divImage divNumber"
        "divImage divTitle"
        "divImage divContent";
    gap: 20px;
}

article div img {
    width: 100%;
    height: 100%;
    grid-area: divImage;
    border-radius: 5px;
}

article div h1 {
    grid-area: divNumber;
    color: #999;
}

article div h2 {
    grid-area: divTitle;
}

article div p {
    grid-area: divContent;
    align-self: center;
}

@media (max-width: 620px) {
    header div {
        display: block;
    }

    header nav {
        display: none;
    }

    article {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto auto auto auto auto;
        grid-template-areas:
            "image"
            "title"
            "section"
            "aside"
            "first"
            "second"
            "third";
    }

    article div h1 {
        font-size: 26px;
    }
}
