:root {
    --mainColor: rgb(51 102 153);
    --secMainColor: rgb(51 85 119);
    --bgColor: rgb(255 255 255);
    --plr: 5vw;
}

html {
    width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    scroll-behavior: smooth;
    background-color: var(--bgColor);
    transition: 0.3s ease;
    font-family: Raleway, sans-serif;
    overflow-x: hidden;
    position: relative;
    width: 100vw;
}

.bg {
    background-image: url(./img/infinite-loop-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: scale(1);
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: transparent;
    color: var(--bgColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--plr);
    transition: 0.3s ease;
}

header.scrolled {
    background-color: var(--bgColor);
    color: var(--mainColor);
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

header.scrolled nav ul a:not(header.scrolled nav ul li.active a) {
    color: var(--mainColor);
}

header nav ul a {
    color: var(--bgColor);
    text-decoration: none;
    font-size: 22px;
}

header.scrolled nav ul a {
    color: #fff;
}

header.scrolled nav ul li.active {
    background: var(--mainColor);
}

header nav ul li {
    background: transparent;
    transition: 0.3s ease;
    padding: 10px 20px;
}

header nav ul li:hover {
    background: var(--mainColor);
}

header h1 {
    font-size: 24px;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: left;
    padding-left: 0;
}

header h1:hover {
    color: var(--mainColor);
}

section {
    min-height: 100vh;
    width: 100vw;
}

section.part1 {
    background: transparent;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--bgColor);
}

section.part1 h1 {
    font-size: 48px;
}

section.part1 p {
    width: 30%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

section.part1 button {
    position: absolute;
    bottom: 10vh;
    transition: 0.3s ease;
    padding: 1px 30px;
    background-color: var(--secMainColor);
    color: var(--bgColor);
    font-size: 60px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

section.part1 button:hover {
    transform: scale(1.2);
    background-color: var(--mainColor);
}

section.part2 {
    background: var(--bgColor);
    padding: 80px var(--plr);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
        "firstPart2 firstPart2"
        "secondtPart2 thirdPart2"
        "forthPart2 fifthPart2";
    gap: 50px;
}

section.part2 div:nth-child(1) {
    grid-area: firstPart2;
    justify-self: start;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

section.part2 .titlePart2 {
    color: var(--mainColor);
    font-size: 40px;
    font-weight: normal;
}

section.part2 .contentPart2 {
    font-size: 20px;
    line-height: 40px;
    color: #777;
}

section.part2 .contentPart2 span {
    color: var(--mainColor);
    transition: 0.3s ease;
    cursor: pointer;
}

section.part2 .contentPart2 span:hover {
    color: rgb(221 68 0);
}

section.part2 div:nth-child(2) {
    grid-area: secondtPart2;
    justify-self: start;
    align-self: center;
    height: 100%;
}

section.part2 div:nth-child(3) {
    grid-area: thirdPart2;
    justify-self: start;
    align-self: center;
    height: 100%;
}

section.part2 div:nth-child(4) {
    grid-area: forthPart2;
    justify-self: start;
    align-self: center;
    height: 100%;
}

section.part2 div:nth-child(5) {
    grid-area: fifthPart2;
    justify-self: start;
    align-self: center;
    height: 100%;
}

.containerPart2 {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "logoPart2 headingPart2"
        ". contentPart2";
    column-gap: 20px;
}

.containerPart2 i {
    grid-area: logoPart2;
    font-size: 66px;
    color: var(--mainColor);
}

.containerPart2 h2 {
    grid-area: headingPart2;
    align-self: start;
}

.containerPart2 > p {
    position: relative;
    bottom: 80px;
}

#lastContentPart2 {
    position: relative;
    bottom: 60px;
}

.containerPart2 .contentPart2 {
    height: 100%;
    grid-area: contentPart2;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.containerPart2 .contentPart2 button {
    padding: 10px 20px;
    background-color: var(--secMainColor);
    color: var(--bgColor);
    transition: 0.3s ease;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.containerPart2 .contentPart2 button:hover {
    background-color: var(--mainColor);
}

section.part3,
section.part4 {
    padding: 100px var(--plr);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

section.part3 > div,
section.part4 > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.part3 > div h1,
section.part4 > div h1 {
    font-size: 42px;
    color: #fff;
}

section.part4 > div h1 {
    color: var(--mainColor);
}

section.part3 > div p,
section.part4 > div p {
    width: 50%;
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}

section.part4 > div p {
    width: 70%;
    color: #666;
    line-height: 30px;
}

section.part3 article,
section.part4 article {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

section.part4 article {
    width: 200px;
}

section.part3 article span,
section.part4 article span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #aaa;
    cursor: pointer;
}

section.part3 article span.active,
section.part3 article span:hover {
    background-color: #fff;
}

section.part4 article span.active,
section.part4 article span:hover {
    background-color: rgb(59 160 221);
}

section.part3 aside,
section.part4 aside {
    transform: translateX(calc(25vw + 80px));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    overflow-x: hidden;
    transition: 0.5s ease;
}

section.part3 aside div {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

section.part3 aside div img {
    border-radius: 50%;
}

section.part3 aside div p {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    justify-self: start;
}

section.part3 aside div span {
    align-self: end;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

section.part4 {
    width: 100vw;
    background-color: #fff;
}

section.part4 aside {
    transform: translateX(calc(32vw - 40px));
    height: 35vh;
    gap: 40px;
}

section.part4 aside div {
    width: 16vw;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
}

section.part4 aside div hr {
    height: 10px;
    background-color: var(--mainColor);
    outline: none;
    opacity: 0;
    position: absolute;
    bottom: -50px;
    width: 100%;
    border: none;
    transition: 0.3s ease;
}

section.part4 aside div h3 {
    padding: 20px;
    text-align: left;
    width: 80%;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    opacity: 0;
    /* border-bottom: 7px solid var(--mainColor); */
    padding-bottom: 10px;
    position: absolute;
    bottom: 45px;
    transition: 0.2s ease;
}

section.part4 aside div h3 span {
    font-weight: bold;
}

section.part4 aside div:hover h3 {
    opacity: 1;
}

section.part4 aside div:hover hr {
    opacity: 1;
}

section.part4 aside div:hover {
    filter: sepia(60%);
}

section.part4 aside div:nth-child(1) {
    background-image: url(./img/gallery-tn-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

section.part4 aside div:nth-child(2) {
    background-image: url(./img/gallery-tn-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

section.part4 aside div:nth-child(3) {
    background-image: url(./img/gallery-tn-03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

section.part4 aside div:nth-child(4) {
    background-image: url(./img/gallery-tn-04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

section.part4 aside div:nth-child(5) {
    background-image: url(./img/gallery-tn-05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

section.part4 aside div:nth-child(6) {
    background-image: url(./img/gallery-tn-06.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

section.part4 aside div:nth-child(7) {
    background-image: url(./img/gallery-tn-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

section.part4 aside div:nth-child(8) {
    background-image: url(./img/gallery-tn-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

section.part5 {
    width: 100vw;
    padding: 100px var(--plr);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "titlePart5 titlePart5"
        "formPart5 mediaPart5";
    column-gap: 80px;
}

section.part5 div:nth-child(1) {
    grid-area: titlePart5;
    color: #fff;
    align-self: center;
    justify-self: center;
}

section.part5 div:nth-child(1) h1 {
    font-size: 36px;
    text-align: center;
}

section.part5 div:nth-child(1) p {
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    padding-top: 50px;
}

section.part5 div:nth-child(2) {
    grid-area: formPart5;
    justify-self: start;
    align-self: center;
    width: 100%;
    height: 100%;
}

section.part5 div:nth-child(2) form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
}

section.part5 div:nth-child(2) form label,
section.part5 div:nth-child(2) form input,
section.part5 div:nth-child(2) form textarea {
    width: 100%;
}

section.part5 div:nth-child(2) form input,
section.part5 div:nth-child(2) form textarea {
    background-color: transparent;
    padding: 14px;
    border: 2px solid #fff;
    border-radius: 7px;
    resize: none;
}

section.part5 div:nth-child(2) form input::placeholder,
section.part5 div:nth-child(2) form textarea::placeholder {
    color: #fff;
    font-size: 18px;
}

section.part5 div:nth-child(2) form input[type="submit"] {
    width: 50%;
    border: 2px solid var(--mainColor);
    background-color: var(--mainColor);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

section.part5 div:nth-child(2) form input[type="submit"]:hover {
    background-color: rgb(59 160 221);
    border: 2px solid rgb(59 160 221);
}

section.part5 div:nth-child(3) {
    grid-area: mediaPart5;
    justify-self: start;
    align-self: start;
}

section.part5 div:nth-child(3) ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

section.part5 div:nth-child(3) ul li {
    width: 100%;
}

section.part5 div:nth-child(3) ul li a {
    color: #fff;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    text-decoration: none;
}

section.part5 div:nth-child(3) ul li a i {
    font-size: 42px;
}

section.part5 div:nth-child(3) ul li a span {
    justify-self: start;
    font-size: 20px;
    font-weight: bold;
}

footer {
    padding: 50px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
}

footer span {
    transition: 0.3s ease;
    cursor: pointer;
}

footer span:hover {
    color: rgb(59 160 221);
}
