#child {
    color: green; /* For changing color of the text */
    font-size: 25px; /* For changing size of the text */
    font-family: "Courier New", Courier, monospace; /* For defining type of the text */
    font-style: italic; /* For changing style of the text */
    font-weight: bold; /* For changing style of the text */
    text-transform: capitalize; /* For changing text into uppercase, lowercase, or capitilize */
    text-decoration: underline; /* For adding line under, over, or through the text */
    text-shadow: 2px 15px 4px red; /* For adding shadow to the text */
    box-shadow: 2px 2px 2px violet; /* For adding shadow to the box */
    text-align: center; /* For aligning the text */
    line-height: 1.7; /* For defining how much the line height is */
    letter-spacing: 1px; /* For defining how much the letter spacing is */
    word-spacing: 2px; /* For defining how much the word spacing is */
}

.parent {
    box-shadow: 2px 2px 2px blue;
}

.box-model {
    border: 2px solid black;
    background-color: yellow;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.box-model p {
    border: 2px dashed green;
    background-color: red;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.box-model b {
    border-right: 2px dotted blue;
    background-color: violet;
}
