img {
    transition: 2s ease;
}

div {
    width: 200px;
    height: 200px;
    background-image: url("./images/4-min-17-1.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 2s ease;
}

#container {
    border-radius: 50%;
}
