:root {
    --first: #111111;
    --second: #e31e3c;
    --third: #fefefe;
    --forth: #858585;
}

html {
    width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    width: 100vw;
    background-color: var(--first);
    color: var(--third);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 80px 0px;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 80px;
}

header span {
    width: 10px;
    height: 10px;
    background-color: var(--second);
}

header a {
    color: var(--third);
    text-decoration: none;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article h1 {
    align-self: start;
    font-size: 52px;
    width: 70vw;
    padding: 130px 80px 50px;
}

article img {
    width: 90vw;
    height: 700px;
    padding-top: 100px;
    padding-bottom: 100px;
}

article h2 {
    font-size: 42px;
    padding: 100px 80px 50px;
}

article > p {
    font-size: 20px;
    padding: 10px 80px 80px;
    border-bottom: 1px solid var(--forth);
}

@media (min-width: 701px) {
    article div {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 100px;
    }
}

article div p {
    color: var(--forth);
    font-size: 14px;
}

article div ul li {
    margin-bottom: 10px;
}

article section {
    width: 90vw;

    padding: 100px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    grid-template-areas:
        "heading first"
        "redheading second";
    border-bottom: 1px solid var(--forth);
}

article section h3 {
    grid-area: heading;
    font-size: 28px;
}

article section span {
    grid-area: redheading;
    font-size: 26px;
    color: var(--second);
    font-weight: bold;
}

article section .first {
    grid-area: first;
    justify-self: end;
}

article section .second {
    grid-area: second;
    justify-self: end;
    color: var(--forth);
}

article section ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    margin: 100px 80px 0px;
    padding: 20px 80px;
    align-items: center;
    background: rgb(227, 30, 60);
    background: linear-gradient(
        90deg,
        rgba(227, 30, 60, 1) 0%,
        rgba(17, 17, 17, 1) 35%,
        rgba(97, 9, 27, 1) 86%
    );
}

footer a {
    color: var(--third);
    text-decoration: none;
}

@media (max-width: 700px) {
    body {
        padding: 20px 5px 0px;
    }

    article section,
    article div {
        padding: 20px 5px 0px;
    }

    article div {
        grid-template-columns: repeat(1, 1fr);
    }

    article div p,
    article div ul {
        border-bottom: 1px solid;
    }
}
