* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "headerfirst headerfirst headerfirst"
        "articlesecond articlesecond asidethird"
        "articlesecond articlesecond asidethird"
        "articlesecond articlesecond asidethird"
        "footerforth footerforth .";
    gap: 15px;
}

article {
    grid-area: articlesecond;
    border: 1px solid;
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "first first"
        "first first"
        "second second";
    gap: 5px;
    /* justify-self: flex-start;
    align-self: center; */
}

article section:nth-child(1) {
    grid-area: first;
}

article section:nth-child(2) {
    grid-area: second;
}

section {
    border: 1px solid;
    width: 100%;
    height: 100%;
}

aside {
    grid-area: asidethird;
    border: 1px solid;
    width: 100%;
    height: 100%;
}

footer {
    grid-area: footerforth;
    border: 1px solid;
    width: 100%;
    height: 100%;
}

header {
    grid-area: headerfirst;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: #eee;
    /* position: fixed;
    top: 0;
    left: 0; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

header nav ul li:hover a {
    text-decoration: underline;
}

header nav ul a {
    color: #eee;
    text-decoration: none;
}

header #search {
    padding: 10px;
    border-radius: 7px;
}

header #search::placeholder {
    font-weight: bold;
    font-size: 16px;
}

div:nth-child(2) {
    margin-top: 80px;
}
